
body {
    font-family: Arial, sans-serif;
    background-color: lightcyan;
    margin: 0;
    padding: 20px;
}

.main-title {
    color: black;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

#intro-text {
    color: grey;
    font-size: 1.2em;
    margin: 0;
    padding: 10px;
}

.footer-text {
    text-align: centre;
    font-size: 0.9em;
    color: goldenrod;
    padding-top: 20px;
}

.styled-image {
    display: block;
    max-width: 100%;
    height: auto;
    border: 5px solid lightcyan;
    margin: 20px auto;
    border-radius: 10px;
}